/* src/App.css */
/* src/App.css */
.game-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 130vh;
  gap: 20px;
  padding-bottom: 300px;

  margin: 0;
  background: linear-gradient(45deg, rgb(29, 30, 84) 46%, rgb(38, 64, 105) 80%);
  text-align: center;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: cell;
}

.game-area::before {
  content: "";
  position: absolute;
  pointer-events: none;
  /* отвечает за прозрачность элемента для прокликивания мышкой*/
  top: 0;
  left: 0;

  background: url("../../img/_dark2.png");
  background-repeat: no-repeat;
  width: 720px;
  height: 1010px;
  background-size: contain;
  /* opacity: 0.5; */
}

.game-area::after {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 2;
  /* отвечает за прозрачность элемента для прокликивания мышкой*/
  top: -220px;
  left: -60px;
  width: 820px;
  height: 1010px;
  background-size: contain;
  background-image: url("../../img/roof.png");
  background-repeat: no-repeat;
}

.soil {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 2;
  /* отвечает за прозрачность элемента для прокликивания мышкой*/
  left: 50%;
  translate: -55%;
  width: 100vw;
  height: 1010px;
  background-size: contain;
  background-image: url("../../img/soil.png");
  background-repeat: no-repeat;
  z-index: 5;
  bottom: -130%;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 205px);
  /* Заданные размеры окон */
  row-gap: 65px;
  column-gap: 25px;

  padding: 20px;
  margin-left: 45px;
  margin-top: 58px;
  border-radius: 10px;
}

.hole {
  background: rgb(240, 230, 206);
  background: radial-gradient(
    circle,
    rgba(225, 188, 101, 0.838) 0%,
    rgb(116, 56, 200) 100%
  );
  width: 120px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fear {
  width: 100%;
  height: 100%;
}
.fear:hover {
  transform: scale(1.5);
}

.scores-time-block {
  font-size: 32px;
}
.resetBtn {
  border: none;
  border-radius: 5px;
  padding: 12px 32px;
  font-size: 16px;
  background-color: rgb(72, 117, 191);
  font-weight: 800;
}
.btnPage {
  margin-left: 10px;
}

.object {
  position: absolute;
  position: absolute;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
}
.van1 {
  width: 600px;
  height: 400px;
  top: -3%;
  left: -3%;
  z-index: 5;
  opacity: 0.5;
  pointer-events: none;
}
.van2 {
  width: 600px;
  height: 400px;
  top: -3%;
  right: -3%;
  z-index: 5;
  opacity: 0.5;
  pointer-events: none;
}
#axis:hover .move-right {
  transform: translate(500px, 0);
  -webkit-transform: translate(500px, 0);
}
#axis:hover .move-left {
  transform: translate(-500px, 0);
  -webkit-transform: translate(-500px, 0); /** Safari & Chrome **/
}
.scares-description {
  max-width: 500px;
  text-align: left;
  font-size: 20px;
  color: aliceblue;
}
